<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <table border="1">
            {% for requirement in list_of_requirements %}
                <tr>
                    <td>
                        <a href="{{ dictionary_of_function[requirement] }}">{{ dictionary_of_requirements[requirement] }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>

</html>